<div id="footer-container">

    <div id="cgiLogo"><img src="assets/images/cgi.png"></div>

    <div id="cgiDetails">
        <div id="cgiDept">

            <div><p>2023 BOOST!</p> </div>
            <div><p>Automation & Development</p></div>
            <div><p>Philippine Global Delivery Center</p></div>

        </div>

        <div id="cgiLinks">
            <ul>
                <li>
                    <a class = "footer-link" routerLink = "innovations">Innovations</a> 
                </li>
                <li>
                    <a class = "footer-link" routerLink = "analytics">Analytics</a> 
                </li>
                <li>
                    <a class = "footer-link" routerLink = "faqs">FAQS</a> 
                </li>
                <li>
                    <a class = "footer-link active" routerLink = "admintool">Admin Tool</a> 
                </li>
            </ul>
        </div>
    </div>
</div>
