<div id="header">

    <div id="header-row">
        <div id="column1">
            <p>logo</p>
        </div>

        <div id="column2">
            
            <ul>
                <li>
                    <a class = "nav-link" routerLink = "innovations">Innovations</a> 
                </li>
                <li>
                    <a class = "nav-link" routerLink = "analytics">Analytics</a> 
                </li>
                <li>
                    <a class = "nav-link" routerLink = "faqs">FAQS</a> 
                </li>
                <li>
                    <a class = "nav-link active" routerLink = "admintool">Admin Tool</a> 
                </li>
            </ul>
           
        </div>

    </div>

    <div id="section1-body">

        <div id="body-title">
            <p>Innovation Library Portal</p>
        </div>
        <div id="body-contents">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
                Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis.
            </p>
        </div>

        <div id="arrowDown">
            <img src="assets/images/arrowDown.png" >
        </div>

    </div>

</div>

