<div id="section1">
    <div class="section1-header">What's New</div>

    <div id="section1-new">
        <div class="box">

            <div class="boxBulb">
                <img src="assets/images/boxbulb.png" />
            </div>

            <div class="boxTitle">
                Lorem Ipsum
            </div>

            <div class="boxContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nunc vulputate libero et velit interdum, ac aliquet odio mattis. 
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </div>

            <div class="readButton">
                <button class="readmore">
                    Read more...
                </button>
            </div>

        </div>

        <div class="box">

            <div class="boxBulb">
                <img src="assets/images/boxbulb.png" />
            </div>

            <div class="boxTitle">
                Lorem Ipsum
            </div>

            <div class="boxContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nunc vulputate libero et velit interdum, ac aliquet odio mattis. 
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </div>

            <div class="readButton">
                <button class="readmore">
                    Read more...
                </button>
            </div>

        </div>

        <div class="box">

            <div class="boxBulb">
                <img src="assets/images/boxbulb.png" />
            </div>

            <div class="boxTitle">
                Lorem Ipsum
            </div>

            <div class="boxContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nunc vulputate libero et velit interdum, ac aliquet odio mattis. 
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </div>

            <div class="readButton">
                <button class="readmore">
                    Read more...
                </button>
            </div>

        </div>
    </div>

    <div class="section1-header">Search Library</div>
    <div id="section1-search">
        
            <div class="column1">

                <div id="search-container">

                    <div class="input-container">
                        <input type="text" placeholder="Search">
                        <button id="searchButton" type="submit"><img src="assets/images/search.png" ></button>
                    </div>

                </div>

                <div class="filter">

                    <div class="filter-container">

                        <p>Source</p>
                        <button class="plusButton" type="submit"><img src="assets/images/plusButton.png" ></button>

                    </div>

                </div>
                <div class="filter">

                    <div class="filter-container">

                        <p>Boost Category</p>
                        <button class="plusButton" type="submit"><img src="assets/images/plusButton.png" ></button>

                    </div>

                </div>
                <div class="filter">

                    <div class="filter-container">

                        <p>Development Type</p>
                        <button class="plusButton" type="submit"><img src="assets/images/plusButton.png" ></button>

                    </div>

                </div>
                <div class="filter">

                    <div class="filter-container">

                        <p>Technology</p>
                        <button class="plusButton" type="submit"><img src="assets/images/plusButton.png" ></button>

                    </div>

                </div>
                <div class="filter">

                    <div class="filter-container">

                        <p>Sub-BU</p>
                        <button class="plusButton" type="submit"><img src="assets/images/plusButton.png" ></button>

                    </div>

                </div>

            </div>

            <div class="column2">
                    <div class="grid-container">
                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                        <div class="grid-item">

                            <div class="griditem-container">
                                <div class="gridBulb">
                                    <img src="assets/images/boxbulb.png">
                                </div>
                                <div class="gridCateg">
                                    <div><img src="assets/images/gridCateg.png"></div>
                                    <div><p>Category</p></div>
                                </div>
                            </div>

                            <div class="gridTitle"><p>Lorem Ipsum</p></div>

                            <div class="gridDetails">
    
                                <div class="gridLike"><img src="assets/images/likes.png"> <p>18</p></div>
                                <div class="gridViews"><img src="assets/images/views.png"><p>10</p></div>

                            </div>
                        </div>

                    </div>

                    <div class="pagination">
                        <div id="paginationText"><p>Shows 9 of 18</p></div>
                        <div id="paginationButtons">
                            <button class="prev">Prev</button>
                            <button class="prev">1</button>
                            <button class="prev">2</button>
                            <button class="next">Next</button>
                        </div>
                    </div>
            </div>
          
    </div>

    <div class="section1-header">Analytics</div>
    <div id="section1-analytics">

        <div id="analyticsColumn1">

            <div id="ac1-title"><p>Visits</p></div>
            <div class="ac1-container">
                <div class="ac1-img"><img src="assets/images/people.png"></div>
                <div class="ac1-text">
                    <div class="ac1-count"><p>875</p></div>
                    <div class="ac1-details"><p>ILP Visitors</p></div>
                </div>
            </div>
            <div class="ac1-container">
                <div class="ac1-img"><img src="assets/images/view.png"></div>
                <div class="ac1-text">
                    <div class="ac1-count"><p>875</p></div>
                    <div class="ac1-details"><p>Innovation Views</p></div>
                </div>
            </div>
            <div class="ac1-container">
                <div class="ac1-img"><img src="assets/images/count.png"></div>
                <div class="ac1-text">
                    <div class="ac1-count"><p>875</p></div>
                    <div class="ac1-details"><p>Innovation Count</p></div>
                </div>
            </div>
            
        </div>

        <div id="analyticsColumn2">

            <div id="ac2title-container">
                <div id="ac2space">
                    <div id="ac1-title"><p>Innovation Stats</p></div>
                    <div id="ac2-popper"><img src="assets/images/ac2-popper.png"></div>
                </div>
                
                    <div class="dropdown">
                        <button class="dropbtn" onclick="myFunction()">Development</button>
                        <div id="myDropdown" class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                
            </div>

            <div id="ac2linechart-container">

                <div id="ac2-linechart"><img src="assets/images/Line chart.png"></div>

            </div>
            
            
        </div>


    </div>

</div>

<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
